script(src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/jquery-backstretch@2.1.17/jquery.backstretch.min.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@latest/dist/jquery.fancybox.min.js")
script.
	(function () {
	if ($(window).width() >= 768) {
	var bg = '#{global.bg}'.split(',')
	window.$("#bg").backstretch(bg, {
	duration: 1e4,
	alignY: 0,
	transition: "fade",
	transitionDuration: 1e3,
		start:Math.floor(Math.random() * bg.length)
	})
	}
	})()
block scripts