append csses
	link(rel="stylesheet" href=`https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@latest/dist/jquery.fancybox.min.css`)
	link(rel="stylesheet" href=`${link.cdn}/css/speaker.css`)
block append scripts
	script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
	
	script(src="https://cdn.bootcss.com/highlight.js/9.18.1/highlight.min.js")
	script(src=`${link.cdn}/js/Speak.js`)
.page(style="padding:15px")
	.quote
		i.iconfont.icon-Artboard1
		!= speak.quote
		i.iconfont.icon-Artboard
	.is-container
	.btn-group
		input.button.more(type="button" value="加载更多")