.page
	.quote
		i.iconfont.icon-Artboard1
		span #{about.quote}
		i.iconfont.icon-Artboard
	.terminal_content
		.header
			h4 #{about.title}
			ul.shell-dots
				li.red
				li.yellow
				li.green
		.terminalWindow
			.console
			.label $
			#input