extends  components/layout
block content
	include page/terminal
append csses
	link(rel="stylesheet" href=`${link.cdn}/css/terminal.css`)
	title 关于 - #{head.title}
	
block append scripts
	
	script(src=`${link.cdn}/js/console.js`)
	script(src=`${link.cdn}/js/about.js`)